@use "../mixin" as *;
@use "../variables" as *;
@use "sass:math";

.card {
    padding: toRem(20) toRem(12);
    max-width: toRem(440);
    cursor: pointer;
    border: toRem(1) solid var(--borderColor);
    border-bottom: none;
    position: relative;
    margin-bottom: toRem(28);
    display: flex;
    flex-direction: column;
    row-gap: toRem(28);
    font-size: toRem(14);
    font-weight: 500;
    background-color: var(--bgColorPrimary);
    transition: all 0.3s ease-in-out;
    &:hover {
        scale: 1.05;
    }
    // .card__image

    &__image {
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 416 / 233;
            object-fit: cover;
            margin-bottom: toRem(12);
        }
    }

    // .card__title

    &__title {
        font-size: toRem(24);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    // .card__subtitle

    &__subtitle {
        font-size: toRem(20);
        line-height: 1.2;
    }

    &__bottom {
        position: absolute;
        width: 100%;
        max-width: 440px;
        height: toRem(28);
        bottom: toRem(-25);
        left: 0;
    }
    &__pin {
        width: toRem(50);
        height: toRem(50);
        border-radius: 50%;
        text-align: center;
        align-content: center;
        box-shadow: 0px 2px 0px 0px rgba(225, 228, 230, 1);
        position: absolute;
        top: toRem(-27);
        left: calc(50% - 25px);
        background-color: var(--bgColorPrimary);
        img {
            transform: translate(9px, -10px);
        }
    }
}
.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-shrink: 0;
    // .header-card__year

    &__year {
        font-size: toRem(20);
    }

    // .header-card__type

    &__type {
        padding: toRem(4) toRem(8);
        border: toRem(1) solid var(--borderColorSecondary);
        border-radius: toRem(1000);
        text-transform: uppercase;
    }
}
.footer-card {
    text-transform: uppercase;
    // .footer-card__title

    &__title {
        margin-bottom: toRem(9);
    }

    // .footer-card__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(2);
        div {
            padding: toRem(8) toRem(8);
            border: toRem(1) solid var(--borderColor);
            border-radius: toRem(1000);
            color: var(--colorTextTertiary);
        }
    }
}
